.grid-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.list-flex {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .list-flex {
    width: 100%;
  }
}

.news-image {
  height: 10rem;
  width: 15.6rem;
  border-radius: 20%;
}

.news-source {
  display: flex;
  align-items: center;
  gap: 10px;
}

.source-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}